*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-color: #000840 !important;
}


#timer {
  color: white;
  border: 5px solid green;
  margin-top: 10%;
}

#intro {
  height: 100vh;
  /* margin: 0 auto; */
  display: block;
  /* position: absolute; */
  /* left: 5%; */
  width: 100%; 
  background-repeat: no-repeat;
  background-image: url("assets/intro.png");
}