html {
  height: 100%;
}
body  {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  background-color: #301016;
}

canvas {
  position: absolute;
  top: 60%;
  height: 250% !important;
  z-index: 1;
}

form {
  display: inline;
  z-index: 999 !important;
}

button {
  z-index: 999;
}

hr {
  width: 40%;
  margin-bottom: 2.5%;
}

.top-title {
  margin: 0 auto;
  text-align: center;
  font-size: 5em;
  color: white;
  font-weight: 800;
  letter-spacing: 3px;
  padding-top: 5% !important;
}

.four.wide.column {
  justify-content: center;
}

#timer {
  padding: 3% 0;
  text-align: center;
  color: white;
  font-size: 3.5em;
  letter-spacing: 2px;
  font-weight: 800;
}


.button-group {
  justify-content: center;
  margin: 1% 0 !important;
}

.calendar {
  width: 85%;
  margin: 0 auto !important;
  color: white;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  border: 0.5px solid black;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.5), 0 11px 25px 0 rgba(0,0,0,0.49);
  align-items: center;
  line-height: 1.5;
}

.day {
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.column {
  width: 50% !important;
}

.event {
  margin-top: 5%;
}

.event-time {
  font-weight: 800;
  text-align: left;
}

.event-name {
  font-size: 1.25em;
  text-align: right;
  color: #f59a5c;

}

.event-location {
  font-weight: lighter;
  text-align: right;
}

.small.image>img {
  filter: grayscale(100%);
  width: 100%;
}

.small.image>img:hover {
  filter: none;
}

.segments {
  width: 75% !important;
  margin: 0 auto !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0,0,0,0.49) !important;
}

.shadow {
  text-shadow: 2px 2px 4px black;
}

#fire {
  margin: 5% auto;
  display: block;
  width: 33%;
}

#intro {
  /* margin: 0 auto; */
  /* position: absolute; */
  background: url("assets/landing.png") no-repeat;
  background-size: contain;
}

#speakers {
  background-color: #441f2e;
  padding: 10% 0;
}

#resources {
  background-color: #eb7353;
  padding: 10% 0;
}

.button {
  border: 1px solid white;
}

.buttons {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.hacking-time {
  text-decoration: underline;
  font-weight: 800;
}

.resource-title {
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.resource-main {
  font-size: 1.25em;
  font-weight: 700;
}

a.resource-main {
  margin-bottom: 50%;
}

.leads-profiles {
  height: 100%;
}

.leads-title {
  color: white;
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  margin: 5% auto;
}

.title {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 800;
}

.ui.card {
  margin: 0 auto !important;
}

.profile {
  color: white;
}
.profile-name {
  text-align: center;
  font-size: 1.5em;
}

.profile-des {
  font-size: 1em;
}

img.fire-anim {
  border-radius: 50%;
  animation: glow 2s infinite alternate;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes glow {
  from {
    background-color: rgba(0, 0, 0, 0.8);
    height: 50%;
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
    height: 55%;
  }
}

@media only screen and (max-width: 600px) {
    #timer {
      font-size: 1.25em;
      font-weight: bolder;
    }

    canvas {
      height: 300% !important;
    }

    .ui.stackable.grid {
      width: 85% !important;
      margin: 0 auto !important;
    }

    .top-title {
      font-size: 2.5em;
      letter-spacing: 1px;
      padding-top: 10% !important;
    }

    .button-label {
      display: none;
    }


}
