* {
  border: 0;
  margin: 0;
}
body  {
  background-color: #000840 !important;
}

.calendar {
  width: 85%;
  margin: 0 auto;
  color: white;
  background-color: #0f1028;
  border-radius: 10px;
  border: 5px solid black;
}

.column {
  text-align: center;
}

#timer {
  color: white;
  margin-top: 10%;
}

#intro {
  height: 100vh;
  /* margin: 0 auto; */
  display: block;
  /* position: absolute; */
  /* left: 5%; */
  width: 100%; 
  background-repeat: no-repeat;
  background-image: url("assets/intro.png");
}